:root {
  --monospace: 'JetBrains Mono', 'Courier New', Courier, monospace;
  --monospace-alt: 'Courier New', Courier, monospace;
  --sans-serif: 'Nunito', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 	--catppuccin-rosewater: rgb(245, 224, 220);
	--catppuccin-flamingo: rgb(242, 205, 205);
	--catppuccin-pink: rgb(245, 194, 231);
	--catppuccin-mauve: rgb(203, 166, 247);
	--catppuccin-red: rgb(243, 139, 168);
	--catppuccin-maroon: rgb(235, 160, 172);
	--catppuccin-peach: rgb(250, 179, 135);
	--catppuccin-yellow: rgb(249, 226, 175);
	--catppuccin-green: rgb(166, 227, 161);
	--catppuccin-teal: rgb(148, 226, 213);
	--catppuccin-sky: rgb(137, 220, 235);
	--catppuccin-sapphire: rgb(116, 199, 236);
	--catppuccin-blue: rgb(137, 180, 250);
	--catppuccin-lavender: rgb(180, 190, 254);
	--catppuccin-text: rgb(205, 214, 244);
	--catppuccin-subtext1: rgb(186, 194, 222);
	--catppuccin-subtext0: rgb(166, 173, 200);
	--catppuccin-overlay2: rgb(147, 153, 178);
	--catppuccin-overlay1: rgb(127, 132, 156);
	--catppuccin-overlay0: rgb(108, 112, 134);
	--catppuccin-surface2: rgb(88, 91, 112);
	--catppuccin-surface1: rgb(69, 71, 90);
	--catppuccin-surface0: rgb(49, 50, 68);
	--catppuccin-base: rgb(30, 30, 46);
	--catppuccin-mantle: rgb(24, 24, 37);
	--catppuccin-crust: rgb(17, 17, 27);



  --topbar-height: 4rem;
  --app-empty-space: 36px;
  --main-empty-space: 24px;
  --h1-font-size: min(max(2vw, 1.75rem), 2.75rem);


  font-family: var(--monospace);


  --text: var(--catppuccin-text);
  --subtext: var(--catppuccin-subtext0);
  --base: var(--catppuccin-base);
  --subbase: var(--catppuccin-crust);
  --accent: var(--catppuccin-lavender);
  --accent-compliment: var(--catppuccin-mantle);
  --highlight1: var(--catppuccin-flamingo);
  --highlight2: var(--catppuccin-mauve);
  --highlight3: var(--catppuccin-red);
  --highlight4: var(--catppuccin-yellow);
  --highlight5: var(--catppuccin-peach);
  --highlight6: var(--catppuccin-green);
  --highlight7: var(--catppuccin-teal);
  --highlight8: var(--catppuccin-sky);
  --highlight9: var(--catppuccin-sapphire);
  --highlight10: var(--catppuccin-blue);

  color: var(--text);
}

* {
  box-sizing: border-box; /* stop overflow when there is padding */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

:root[data-theme="alt"] {
  font-family: var(--monospace-alt);
  --hacker-green: rgb(20, 148, 20);
  --text: var(--hacker-green);
  --subtext: var(--hacker-green);
  --base: black;
  --subbase: black;
  --accent: var(--hacker-green);
  --accent-compliment: black;
  --highlight1: var(--hacker-green);
  --highlight2: var(--hacker-green);
  --highlight3: var(--hacker-green);
  --highlight4: var(--hacker-green);
  --highlight5: var(--hacker-green);
  --highlight6: var(--hacker-green);
  --highlight7: var(--hacker-green);
  --highlight8: var(--hacker-green);
  --highlight9: var(--hacker-green);
  --highlight10: var(--hacker-green);
}

html {
  background-color: var(--base);
  scrollbar-width: thin;
  scrollbar-color: var(--accent) var(--accent-compliment);
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}


body {
  background-color: inherit;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}


button, a {
  border-radius: 0.3em;
  font-family: inherit;
  background-color: var(--base);
  cursor: pointer;
  transition: box-shadow .1s ease-in-out, color .1s ease-in-out, background-color .1s ease-in-out;
  color: inherit;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:focus {
  box-shadow: none;
}


#app, .wrapper {
  max-width: 100vw;
  overflow-x: clip;
  overflow-y: visible;
  width: 100dvw;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: inherit;
  padding-inline: var(--app-empty-space);
}


#title {
  display: flex;
  justify-content: start;
  align-items: center;
}


.section {
  display: flex;
  /* this is just place-holder value */
  /* heights or widths using viewport units */
  /* have issues with mobile browsers because of browser navbar resizing */
  /* especially so for moving elements like this */
  /* if use viewport values and the navbar resizes, everything else with */
  /* viewport values resize making scrolling and maybe other interactions */
  /* not smooth/choppy */
  height: max-content;
  min-height: calc(100lvh - var(--topbar-height) - (2 * var(--main-empty-space)));
  width: 100%;
  flex-direction: column;
  border-radius: 8px;
  /* border: 2px solid var(--catppuccin-lavender); */
  /* background: rgb(from var(--catppuccin-surface1) r g b / 0.4); */
  /* box-shadow: 0 4px 30px rgb(from var(--catppuccin-base) r g b / 0.1); */
  /* backdrop-filter: blur(5px); */
  /* -webkit-backdrop-filter: blur(5px); */
  /* left and right */
  /* border-inline: none; */
  padding: 12px;
  justify-content: start;
  font-weight: 300;
  font-size: min(max(3vw, 2rem), 3.5rem);
  z-index: 0;
}


@media only screen and (max-width: 768px) {
  .section {
    justify-content: start;
    min-height: 800px;
  }
}


h1 {
  font-size: min(max(3vw, 3rem), 4rem);
}

h2 {
  font-size: min(max(2vw, 2rem), 2rem);
}

h3 {
  font-size: min(max(1.5vw, 1.5rem), 1.5rem);
}

h4 {
  font-size: min(max(1.2vw, 1.2rem), 1.3rem);
}

p, form, button, a {
  font-size: min(max(0.8vw, 0.8rem), 1.1rem);
}


.icon {
  width: 1.5rem;
  height: 1.5rem;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: start;
  align-items: center;
  padding-inline: var(--main-empty-space);
  /* padding-top: calc(var(--topbar-height)); */
  margin: 0;
  width: 100%;
  max-width: 100vw;
  height: max-content;
  /* height: 100%; */
  /* overflow: scroll; */
  gap: var(--main-empty-space);
  z-index: 0;
  /* needs to be positioned to get correct offsetTop */
  /* https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/offsetTop */
  position: relative;
}


/* overlay class effect for background objects */
#mainContainer:before {
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  padding-top: calc(var(--topbar-height));
  margin: 0;
  width: 100%;
  height: max-content;
  height: 100dvh;
  background: rgb(from var(--base) r g b / 0.3);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  /* left and right */
  /* border-inline: none; */
  z-index: -1;
}


.topbar {
  height: var(--topbar-height);
  width: 100dvw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  background-color: inherit;
  z-index: 10;
  position: sticky;
  top: 0;
  left: calc(var(--app-empty-space) * -1);
  box-shadow: 0px 0px 8px 8px rgb(from var(--base) r g b);
}

.topbar > * {
  z-index: 10;
}


@media only screen and (max-width: 768px) {
  /* needs px for the calc to work */
  :root {
    --app-empty-space: 0px;
  }

  #mainContainer:before {
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
  }
}



/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--highlight3) }
}
