@import url("font.css");

:root {
  font-family: "JetBrainsMono Nerd Font Mono";

 	--catppuccin-rosewater: rgb(245, 224, 220);
	--catppuccin-flamingo: rgb(242, 205, 205);
	--catppuccin-pink: rgb(245, 194, 231);
	--catppuccin-mauve: rgb(203, 166, 247);
	--catppuccin-red: rgb(243, 139, 168);
	--catppuccin-maroon: rgb(235, 160, 172);
	--catppuccin-peach: rgb(250, 179, 135);
	--catppuccin-yellow: rgb(249, 226, 175);
	--catppuccin-green: rgb(166, 227, 161);
	--catppuccin-teal: rgb(148, 226, 213);
	--catppuccin-sky: rgb(137, 220, 235);
	--catppuccin-sapphire: rgb(116, 199, 236);
	--catppuccin-blue: rgb(137, 180, 250);
	--catppuccin-lavender: rgb(180, 190, 254);
	--catppuccin-text: rgb(205, 214, 244);
	--catppuccin-subtext1: rgb(186, 194, 222);
	--catppuccin-subtext0: rgb(166, 173, 200);
	--catppuccin-overlay2: rgb(147, 153, 178);
	--catppuccin-overlay1: rgb(127, 132, 156);
	--catppuccin-overlay0: rgb(108, 112, 134);
	--catppuccin-surface2: rgb(88, 91, 112);
	--catppuccin-surface1: rgb(69, 71, 90);
	--catppuccin-surface0: rgb(49, 50, 68);
	--catppuccin-base: rgb(30, 30, 46);
	--catppuccin-mantle: rgb(24, 24, 37);
	--catppuccin-crust: rgb(17, 17, 27);

  --topbar-height: 4rem;
  --main-empty-space: 24px;

  color: var(--catppuccin-text);
}

* {
  box-sizing: border-box; /* stop overflow when there is padding */
  margin: 0;
  padding: 0;
}


/* html, body { */
/*   overflow: hidden; */
/* } */

html {
  background-color: var(--catppuccin-base);
  scrollbar-width: thin;
  scrollbar-color: var(--catppuccin-lavender) var(--catppuccin-mantle);
}


body {
  background-color: inherit;
}


button {
  border-radius: 0.3em;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  background-color: var(--catppuccin-base);
  cursor: pointer;
  transition: box-shadow .1s ease-in-out, color .1s ease-in-out, background-color .1s ease-in-out;
  color: inherit;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


#app {
  max-width: 100vw;
  overflow-x: hidden;
  width: 100dvw;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: inherit;
}


#title {
  display: flex;
  justify-content: start;
  align-items: center;
}


.section {
  display: flex;
  /* this is just place-holder value */
  /* heights or widths using vh/vw or svh/svw or dvh/dvw */
  /* have issues with mobile browsers because of browser navbar resizing */
  /* especially so for moving elements like this */
  /* if use viewport values and the navbar resizes, everything else with */
  /* viewport values resize making scrolling and maybe other interactions */
  /* not smooth/choppy */
  min-height: 800px;
  height: max-content;
  width: 100%;
  border: 2px solid var(--catppuccin-lavender);
  border-radius: 8px;
  background: rgb(from var(--catppuccin-surface1) r g b / 0.4);
  box-shadow: 0 4px 30px rgb(from var(--catppuccin-base) r g b / 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* left and right */
  /* border-inline: none; */
  padding: 12px;
  justify-content: start;
  z-index: 0;
}
