@import url("font.css");

:root {
  font-family: "JetBrainsMono Nerd Font Mono";

 	--catppuccin-rosewater: rgb(245, 224, 220);
	--catppuccin-flamingo: rgb(242, 205, 205);
	--catppuccin-pink: rgb(245, 194, 231);
	--catppuccin-mauve: rgb(203, 166, 247);
	--catppuccin-red: rgb(243, 139, 168);
	--catppuccin-maroon: rgb(235, 160, 172);
	--catppuccin-peach: rgb(250, 179, 135);
	--catppuccin-yellow: rgb(249, 226, 175);
	--catppuccin-green: rgb(166, 227, 161);
	--catppuccin-teal: rgb(148, 226, 213);
	--catppuccin-sky: rgb(137, 220, 235);
	--catppuccin-sapphire: rgb(116, 199, 236);
	--catppuccin-blue: rgb(137, 180, 250);
	--catppuccin-lavender: rgb(180, 190, 254);
	--catppuccin-text: rgb(205, 214, 244);
	--catppuccin-subtext1: rgb(186, 194, 222);
	--catppuccin-subtext0: rgb(166, 173, 200);
	--catppuccin-overlay2: rgb(147, 153, 178);
	--catppuccin-overlay1: rgb(127, 132, 156);
	--catppuccin-overlay0: rgb(108, 112, 134);
	--catppuccin-surface2: rgb(88, 91, 112);
	--catppuccin-surface1: rgb(69, 71, 90);
	--catppuccin-surface0: rgb(49, 50, 68);
	--catppuccin-base: rgb(30, 30, 46);
	--catppuccin-mantle: rgb(24, 24, 37);
	--catppuccin-crust: rgb(17, 17, 27);

  color: var(--catppuccin-text);
}

html {
  background-color: var(--catppuccin-base);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
}
