@import url("font.css");

:root {
  font-family: "JetBrainsMono Nerd Font Mono";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
}
